#nav-social {
    background-image: url("../../../../assets/gifs/venus-slow.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 15vw;
    height: 25vh;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: transparent;
    -webkit-text-stroke: 0.8px rgb(0, 0, 0);
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-size 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    
    font-weight: bolder;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.386);

}

#nav-social:hover {
    background-size: 140%;
    font-size: 1.8rem;
    color: rgb(204, 125, 183);
 
}