#nav-projects {
    background-image: url("../../../../assets/gifs/mars-slow.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 14vw;
    height: 25vh;
}